<body>


	<div class="container-contact100">
		<div class="contact100-map" style="background-image: url('assets/background.jpg');"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(assets/add.jpg);">
				<span class="contact100-form-title-1">
			Update employee
				</span>

				<span class="contact100-form-title-2">
				
				</span>
			</div>
  
    <form class="contact100-form validate-form" #ArtistUpdateForm="ngForm" (ngSubmit)="onSubmit(ArtistUpdateForm.value)">
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">ID:</span>
					<input class="input100" type="text" [(ngModel)]="employee.id"   name="id" placeholder="Enter employee id" class="form-control">
					<span class="focus-input100"></span>
				</div>

			
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Full Name:</span>
					<input class="input100" type="text"  [(ngModel)]="employee.name" name="name" placeholder="Enter full name" class="form-control">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">surname:</span>
					<input class="input100" type="text"  [(ngModel)]="employee.surname" name="surname" placeholder="Enter surname" class="form-control">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="image is required">
					<span class="label-input100">image:</span>
					<input class="input100" type="text"  [(ngModel)]="employee.image" name="image" placeholder="Enter image" class="form-control"  >
					<span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="gender is required">
					<span class="label-input100">gender:</span>
					<input class="input100" type="text"  [(ngModel)]="employee.gender" name="gender" placeholder="gender" class="form-control">
					<span class="focus-input100"></span>
				</div>
        <div class="wrap-input100 validate-input" data-validate="DOB is required">
					<span class="label-input100">DOB:</span>
					<input class="input100" type="text"  [(ngModel)]="employee.DOB" name="DOB" placeholder="DOB">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100">bio:</span>
					<textarea class="input100"  [(ngModel)]="employee.bio" name="bio" class="form-control"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

