<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" style="background-color: salmon">
    
    <div class="container" >
      <a class="navbar-brand" href="#"><img src="https://img.icons8.com/color/48/000000/working-with-a-laptop.png">CODETRIBE EMPLOYEE REGISTER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
      
          <a class="navbar-brand" routerLink="/add"><i class="fas fa-user-plus"></i></a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row px-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchArtistByName"
    />
  </div>
  <div class="row p-3">
    <div
      class="col-md-3 col-lg-3"
      *ngFor="let n of ( employeeList | searchEmployees:searchArtistByName)"
    >
      <div class="card mt-3">
        <img
          class="card-img-top"
          [src]="n.image"
          alt="Card image cap"
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ n.name }}&nbsp;  {{ n.surname }}</h5>
          <p class="card-text">
            
          </p>
          
          <div class="float-md-left">
            
            To view full bio click icon &nbsp;
              <i class="fas fa-chalkboard-teacher"  routerLink="/displayboi/{{ n.id }}"></i>
              
           
          </div>
          <div class="float-md-right">
              <i class="fas fa-book-user"></i>
              <i class="fas fa-user-edit  "    routerLink="/update/{{ n.id }}"></i>&nbsp;
              <i class="fas fa-user-times  text-danger" (click)="onDelete(n.id)"></i>

          </div>
        </div>
      </div>
    </div>
  </div>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; S.D. media</p>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
